<mat-toolbar color="primary">
  <span class="flex-row"></span>
  <a mat-button routerLink="/signup">Регистрация</a>
</mat-toolbar>
<mat-card>
  <mat-card-title class="text-center">Авторизация</mat-card-title>
  <mat-card-content>
    <form class="login-form" [formGroup]="form" (submit)="login()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Логин" formControlName="login" required/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Пароль" formControlName="password" required/>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Войти</button>
    </form>
    <p class="error-pass" *ngIf="errorAuth">
      Неверный логин или пароль
    </p>
  </mat-card-content>
</mat-card>
