<mat-toolbar color="primary">
  <button mat-button routerLink="/materials">Материалы</button>
  <button mat-button routerLink="/request-creating">Мои заявки</button>
  <span class="flex-row"></span>
  <button mat-button [matMenuTriggerFor]="menu">Администрирование</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/admin/materials">Материалы</button>
      <button mat-menu-item routerLink="/admin/requests">Заявки</button>
      <button mat-menu-item routerLink="/admin/stock">Склад</button>
    </mat-menu>
  <button mat-button (click)="logout()">Выйти</button>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form class="add-author-form" [formGroup]="form" (submit)="addMaterial()">
      <mat-form-field class="">
        <input matInput placeholder="Наименование материала" formControlName="name" required/>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="Артикул" formControlName="articule" required/>
      </mat-form-field>
      <button type="" mat-raised-button color="primary">Добавить</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Наименование </th>
    <td mat-cell *matCellDef="let element">
      <input matInput type="text" placeholder="Наименование" [(ngModel)]="element.name" required/>
    </td>
  </ng-container>

  <ng-container matColumnDef="articule">
    <th mat-header-cell *matHeaderCellDef> Артикул </th>
    <td mat-cell *matCellDef="let element">
      <input matInput type="text" placeholder="Артикул" [(ngModel)]="element.articule" required/>
    </td>
  </ng-container>

  <ng-container matColumnDef="updateButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" >
      <button type="" mat-button color="primary" (click)="updateMaterial(element)">Обновить</button>
    </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns">
  </mat-row>
</mat-table>
