<mat-toolbar color="primary">
  <button mat-button routerLink="/main">Главная</button>
  <button mat-button routerLink="/authors">Авторы</button>
  <button mat-button routerLink="/books">Книги</button>
  <button mat-button routerLink="/favourites">Избранное</button>
  <span class="flex-row"></span>
  <button mat-button *ngIf="showAdminMenu" [matMenuTriggerFor]="menu">Администрирование</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/admin/authors">Авторы</button>
      <button mat-menu-item routerLink="/admin/books">Книги</button>
      <button mat-menu-item routerLink="/admin/genres">Жанры</button>
      <button mat-menu-item routerLink="/admin/quotes">Цитаты</button>
    </mat-menu>
  <button mat-button (click)="logout()">Выйти</button>
</mat-toolbar>
