<mat-toolbar color="primary">
  <button mat-button routerLink="/themes">Форум</button>
  <button mat-button routerLink="/authors">Авторы</button>
  <button mat-button routerLink="/books">Книги</button>
  <button mat-button routerLink="/favourites">Избранное</button>
  <span class="flex-row"></span>
  <button mat-button *ngIf="showAdminMenu" [matMenuTriggerFor]="menu">Администрирование</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/admin/authors">Авторы</button>
      <button mat-menu-item routerLink="/admin/books">Книги</button>
      <button mat-menu-item routerLink="/admin/genres">Жанры</button>
      <button mat-menu-item routerLink="/admin/quotes">Цитаты</button>
    </mat-menu>
  <button mat-button (click)="logout()">Выйти</button>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (submit)="addTheme()">
      <mat-form-field class="">
        <input matInput placeholder="Тема" formControlName="title" required/>
      </mat-form-field>
      <button type="" mat-raised-button color="primary">Добавить тему</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let theme of themes">
  <mat-card-content>
    <p class="title">
      {{theme.title}}
    </p>
    <p class="author" *ngIf="theme.author.id !== currentUser.id">
      {{theme.author.nickname}}
    </p>
    <div class="join-button">
      <button type="" mat-button (click)="showConversation(theme)">Присоединиться к обсуждению</button>
    </div>
    <div class="admin-button" *ngIf="theme.author.id === currentUser.id">
      <button type="" mat-button color="primary" (click)="openDialog(theme)">Редактировать</button>
      <button type="" mat-raised-button color="primary" (click)="deleteTheme(theme)">Удалить</button>
    </div>
  </mat-card-content>
</mat-card>
