<mat-toolbar color="primary"></mat-toolbar>
<mat-card>
  <mat-card-content>
    <form class="add-author-form" [formGroup]="form" (submit)="addAuthor()">
      <mat-form-field class="">
        <input matInput placeholder="Имя автора" formControlName="name"/>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="Описание" formControlName="description"/>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput type="date" placeholder="Дата рождения" formControlName="birthday"/>
      </mat-form-field>
      <button type="" mat-raised-button color="primary">Добавить</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox> -->
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox>
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Имя </th>
    <td mat-cell *matCellDef="let element">
      <input matInput type="text" placeholder="Имя автора" [(ngModel)]="element.name"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Описание </th>
    <td mat-cell *matCellDef="let element">
      <input matInput type="text" placeholder="Описание" [(ngModel)]="element.description"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="birthday">
    <th mat-header-cell *matHeaderCellDef> Дата рождения </th>
    <td mat-cell *matCellDef="let element" >
      <input class="date-input" matInput type="date" [ngModel] ="element.birthday | date:'yyyy-MM-dd'" (ngModelChange)="element.birthday = $event">
    </td>
  </ng-container>

  <ng-container matColumnDef="updateButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" >
      <button type="" mat-button color="primary" (click)="updateAuthor(element)">Обновить</button>
    </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns">
  </mat-row>
</mat-table>
