mat-card {
  margin: 1%;
  display: flex;
  justify-content: center;
  height: 50px;
}

mat-table {
  margin: 1%;
  margin-top: 0px;
}

th, td {
  margin: auto;
  text-align: center;
  width: 200px;
}

.search {
  margin-left: 15px;
}

.date-input {
  text-align: right;
}

.flex-row {
  flex-grow: 1;
}

mat-grid-tile {
  /* background: lightblue; */
  border: 1px solid #A9A9A9;
  /* border: 1px solid #A9A9A9; /* Белая рамка */
  /* border-radius: 1px; */
  /* box-shadow: 0 0 2px rgba(0,0,0,0.5); */
}
